.socialLinks {
    font-size: 1.5rem;
  }
  .icon {
    margin-top: 0.8rem;
    margin-right: 1rem;
    color: white;
  }
/* .socialLinks_Facebook {
    color: #3b5998;
  }
  .socialLinks_twitter {
    color: #1da1f2;
  }
  .socialLinks_linkedin {
    color: #0077b5;
  } */