.book_list{
    margin: 10rem 0 2rem;
    
}
.book_list_category{
    text-align: center;
}
.book_list_category button{
    margin: 0 2rem 1rem 0;
    padding: 0.5rem;
    text-transform: capitalize;
    width: 150px;
    background-color: var(--layout-secondary);
    color: white;
    border: 1px solid var(--layout-secondary);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.book_list_category button:hover{
    background-color: white;
    border: 1px solid var(--layout-secondary);
    color: var(--layout-secondary) ;
}
@media(max-width: 600px){
    .book_list_category button{
      
    } 
}