.book_card img {
  margin: 4rem 0 1rem;
  max-width: 100%;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}
.book_card img:hover {
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
}
.book_card_heading {
  color: var(--text-secondary);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.book_card_rate_icon{
    margin-right: 0.5rem;
    
}

