.book_card {
  margin-top: 2rem;
  padding: 1rem;
  transition: all 0.3s;
  border-radius: 3px;
  background-color: rgb(218, 214, 214);
  font-size: 1rem;
}
.book_card:hover {
  border: 0.5px solid rgb(173, 169, 169);
  box-shadow: 5px 5px 6px #000;
}
.book_card img {
  margin-bottom: 1rem;
  max-width: 100%;
  border-radius: 3px;
}
.book_card_heading {
  color: var(--text-secondary);
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-decoration: none;
}
.book_old_price {
  text-decoration: line-through;
}
.book_card_rate_icon {
  margin: 0 0.2rem 0 1rem;
  color: #ff9529;
}
.add_btn{
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
  text-transform: capitalize;
  width: 200px;
  background-color: var(--layout-secondary);
  color: white;
  border: 1px solid var(--layout-secondary);
  border-radius: 15px;
  font-size: 1rem;
}
.cart_icon{
  margin-right: 1rem;
}
