.login_form_container {
  margin: 11.5rem 0;
  text-transform: capitalize;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.login_form {
  width: 50%;
  margin: auto;
  padding: 2rem;
  border: 1px solid rgb(202, 199, 199);
  box-shadow: 0 0 15px #ccc;
  border-radius: 10px;
}
.login_form_heading {
  text-align: center;
}
@media (max-width: 600px) and (max-width: 981px) {
  .login_form {
    width: 80%;
  }
  .login_form_control {
    width: 100%;
  }
  .login_btn {
    font-size: 1rem;
  }
}
.login_form_input {
  display: block;
  font-size: 1rem;
}
.login_form_control {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgb(180, 176, 176);
}
.label {
  display: block;
  padding: 0.5rem;
}
.login_btn {
  background-color: var(--layout-secondary);
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.5rem;
}
